@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
   background:#4C1E21 url('https://img.itch.zone/aW1nLzE3MjgzMzQuanBn/original/w6BZFE.jpg') no-repeat center center / cover !important;
   background-size:100% 140%;
   background-repeat:no-repeat;
   overflow-x:hidden;
}

.card{
    width:600px;
    height:600px;
    border:1px solid;
    background:#1C1C1C url('https://s-media-cache-ak0.pinimg.com/originals/03/c3/ab/03c3ab693eedcd84c1119a947974cb93.jpg') no-repeat center center / cover !important;
    border-radius:2px;
    padding:40px;
    margin-top:110px;
    box-shadow: 0 0 0.4em gray;
    position: relative;
}

.legenda{
  width:100px;
  height:40px;
  font-family: 'Roboto', sans-serif;
  border-radius:3px;
  color:white;
  font-weight:bold;
  text-align:center;
  padding:5px 5px 5px 5px;
  margin: 5px 0;
  box-shadow: 0 0 0.4em gray;
}

.border-legenda{
  border:1px solid;
  border-color:black;
}

.content{
  margin-top: -400px;
  margin-left:75%;
}

.game-button {
    position: relative;
    top: 0;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: 'Carter One', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
    border: none;
    margin: 15px 15px 30px;
    background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255,255,255,.3);
    color: #fff !important;
    border-radius: 8px;
    padding: 8px 15px 10px;
    box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0,0,0,.3);
  }
  .game-button:hover {
    top:2px;
    box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0,0,0,.3);
  }
  .game-button::before {
    content: '';
    height: 10%;
    position: absolute;
    width: 40%;
    background: #fff;
    right: 13%;
    top: -3%;
    border-radius: 99px;
    }
  .game-button::after {
    content: '';
    height: 10%;
    position: absolute;
    width: 5%;
    background: #fff;
    right: 5%;
    top: -3%;
    border-radius: 99px;
    }

  .game-button.green {
      background: repeating-linear-gradient( 45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);
      box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0,0,0,.3);
      border-bottom: 3px solid rgba(40, 117, 29, 0.5);
      text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
      position:absolute;
      margin-left:-340px;
      margin-top:810px;
  }
  
  .game-button.green:hover {
    top:2px;
    box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0,0,0,.3);
  }

  #dado1{
    width:40px;
    height:30px;
    border-radius:2px;
    text-align:center;
    border-color:gray;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 0.4em gray;
    background:#FAFAFA;
    padding: 10px 0px 0px 0px;
  }

  #dado2{
    width:40px;
    height:30px;
    position:absolute;
    box-shadow: 0 0 0.4em gray;
    text-align:center;
    border-radius:2px;
    font-family: 'Roboto', sans-serif;
    border-color:gray;
    margin-left:50px;
    margin-top:-40px;
    background:#FAFAFA;
    padding: 10px 0px 0px 0px;
  }

  .dados-content{
    margin-left: 9px;
  }

  .row {
    clear: both;
    margin-left: -32px;
    margin-top:-34px;
  }

  .row div,.jogador {
    width: 28px;
    height: 28px;
    float: left;
    margin-left: 33px;
    margin-top: 35px;
    border:1px solid;
  }
  
	.row:after,.row div:after,.jogador:after,#tabuleiro:after, #statistics:after {
		content: "";
		display: table;
		clear: both;
  }

  .blink {
	  animation: blink-animation 1s steps(5, start) infinite;
	  -webkit-animation: blink-animation 1s steps(5, start) infinite;
	}
  
  .row div, #players {
	  /*position: relative;*/
	}
	#players .jogador {
		top: -500px;
  }

  @keyframes blink-animation {
	  to {
		visibility: hidden;
	  }
	}
	@-webkit-keyframes blink-animation {
	  to {
		visibility: hidden;
	  }
	}
  
	.jogador {
	  width: 30px;
	  height: 30px;
	  border-radius: 20px;
	  position: absolute;
	  top: 35px;
	  left: 840px;
	  border: 1px solid #f0f0f0;
	  box-shadow: -1px -1px 16px 1px #666, 1px 1px 16px 1px #bbb;
	  -webkit-transition: left 3s, top 3s; /* For Safari 3.1 to 6.0 */
      transition: left 3s, top 3s;
	}

  @media(max-height:900px){
    .game-button.green {
        background: repeating-linear-gradient( 45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);
        box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0,0,0,.3);
        border-bottom: 3px solid rgba(40, 117, 29, 0.5);
        text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
        position:absolute;
        margin-left:10%;
        margin-top:110px;
    }
  }

  @media(max-height:900px) and (max-width:1100px){
    .game-button.green {
        background: repeating-linear-gradient( 45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);
        box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0,0,0,.3);
        border-bottom: 3px solid rgba(40, 117, 29, 0.5);
        text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
        position:absolute;
        margin-left:10%;
        margin-top:116px;
    }
  }

@media(max-width:1300px){
  .content{
    margin-top: -440px;
    margin-left:84.5%;
  }

}